# Byte-compiled / optimized / DLL files
**/__pycache__/
**/*.py[cod]
*$py.class
utils/__pycache__/etl_utils.cpython-312.pyc
.vscode/

# Logs
*.log
*.py.log
airflow/logs/

# Sensitive files
dev_notes.txt

# Too Big for GitHub :(
data